<div class="px-4 pt-1 my-2 text-center border-bottom">
    <h1 class="display-4 fw-bold">Kitchen Story</h1>
    <div class="col-lg-6 mx-auto pb-4">
      <p class="lead mb-4">Welcome to Kitchen Story, the leading grocery store app on the web. Simply add groceries that you need to be delivered to your home to your cart, checkout, and we'll do the rest!</p>
      <a routerLink="/shop" class="btn btn-success">Shop Now!</a>
    </div>
    <div class="overflow-hidden">
      <div class="container px-5">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Ecologically_grown_vegetables.jpg/1600px-Ecologically_grown_vegetables.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Buy Vegetables" width="700" height="500" loading="lazy">
      </div>
    </div>
</div>
