<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a routerLink="home" class="nav-link link-dark px-2" aria-current="page">Home</a></li>
        <li class="nav-item"><a routerLink="shop" class="nav-link link-dark px-2" aria-current="page">Order</a></li>
        
      </ul>
      <ul class="nav my-1">
        <li class="nav-item"><a routerLink="admin-dash" class="nav-link link-dark px-2" *ngIf="adminBool">Admin Portal</a></li>
        <li class="nav-item"><a routerLink="login" class="nav-link link-dark px-2" (click)="handleAccountClick()" >{{authMessage}}</a></li>
        <li class="nav-item"><a routerLink="checkout" class="nav-link link-dark px-2">Checkout</a></li>
        <li class="nav-item"><a routerLink="cart" class="nav-link link-dark px-2">View Cart</a></li>
        <li>
          <a routerLink="cart" type="button" class="btn btn-secondary position-relative">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{cartCount}}
              <span class="visually-hidden">Your Cart</span>
            </span>
          </a>
      </ul>
    </div>
  </nav>
  <header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <a routerLink="home" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
        <img src="assets/img/grocery-bag-48.png" alt="Kitchen Story" width="32" height="32">
        <span class="fs-4 mr-4">FoodBox</span>
      </a>
      
    </div>
  </header>